---
---

@charset "utf-8";

// @import "minimal-mistakes/skins/aqua";
@import "minimal-mistakes/skins/sunrise";
@import "minimal-mistakes";

// Make picture bigger, not a circle
.author__avatar img {
  max-width: 250px; // Increase from default ~110px
  border-radius: 10px !important;
}

// Make the main content area wider
.page {
  @include breakpoint($large) {
    width: calc(105% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(105% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width;
  }
}

//  text smaller
body {
  font-size: 15.5px; // Default is 16px
}
