---
---

@charset "utf-8";

// @import "minimal-mistakes/skins/aqua";
@import "minimal-mistakes/skins/sunrise";
@import "minimal-mistakes";

// Make picture bigger, not a circle
.author__avatar img {
  max-width: 250px; // Increase from default ~110px
  border-radius: 10px !important;
}

// Make the main content area wider
// .page {
//   @include breakpoint($large) {
//     width: calc(90% - #{$right-sidebar-width-narrow});
//     padding-right: $right-sidebar-width-narrow;
//   }

//   @include breakpoint($x-large) {
//     width: calc(90% - #{$right-sidebar-width});
//     padding-right: $right-sidebar-width;
//   }
// }
.page__content {
  @include breakpoint($large) {
    float: right;
    width: 90%;  // wider
  }
  @include breakpoint($x-large) {
    width: 95%;  // this handles larger screens -- not sure why it's only large and xlarge?
  }
}
// wider page
.page {
  @include breakpoint($x-large) {
    max-width: 1400px;  
  }
}


//  text smaller
body {
  font-size: 18px; // Default is 16px
}
